{% extends 'base.html' %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {{ form }}
        {% csrf_token %}
        <button type="submit">Register sighting</button>

        <div class="flex gap-4 mt-4 mb-4">
        <button type="submit" class="border rounded-sm px-6 py-2 bg-red-500 hover:bg-red-600 text-white">
            Yes, Delete
        </button>
        <a href="{% url 'expeditions_list' %}" class="border rounded-sm px-6 py-2 bg-slate-300 hover:bg-slate-400">
            Cancel
        </a>
        </div>
    </form>

{% endblock %}