{% extends 'base.html' %}
{% load sighting_tags %}
{% block content %}
    <form class="flex flex-col items-center align-center" method="post" enctype="multipart/form-data">
        <div class="flex flex-col">
            {% csrf_token %}
            {% for field in form %}
            {% if field.name == 'animal_image' %}
                <div class="flex items-center justify-center">
                    {{ field.help_text }}
                </div>
            {% else %}
                <div class="ml-18">
                    {{ field.help_text }}
                </div>
            {% endif %}
                {% if field.name == 'animal_image' %}
                    {% if sighting.animal_image %}
                        <img class="max-w-sm mb-2" src="{{ sighting.animal_image.url }}" alt="animal_image">
                    {% endif %}
                {% endif %}
            <div class="flex flex-col items-center mb-2">
                {% if field.name == 'expected_species' %}
                    <div style="background-color: white;" class="p-2 w-60 max-h-40 overflow-y-auto border rounded">
                        {{ field }}
                    </div>
                {% else %}
                <div class="w-60">
                    {{ field }}
                </div>
                {% endif %}

            </div>
            {% endfor %}

            <button class="mx-auto w-20 border rounded-sm p-2 m-8 bg-slate-300 hover:bg-slate-400" type="submit">Save</button>
        </div>
    </form>
{% endblock %}
