<!DOCTYPE html>
{% load tailwind_cli %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wildlife Expedition Tracker{% endblock %}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body class="flex flex-col min-h-screen">
    <!-- Navigation -->
    <nav class="flex flex-row bg-amber-50 p-2">
        <a class="p-2" href="{% url 'home' %}">Home</a>
        <a class="p-2" href="https://github.com/BobiBash">Github</a>
        <a class="p-2" href="#about">About</a>
        <!-- Dropdown -->
        <div class="relative" x-data="{ open: false }" @click.outside="open = false">
            <a href="#" @click.prevent="open = !open" class="flex items-center p-2 cursor-pointer select-none">
                Explore ▾
            </a>
            <ul x-show="open" class="absolute top-full left-0 bg-amber-100 shadow-md z-10 min-w-36">
                <li><a href="{% url 'expeditions_list' %}" class="block px-4 py-2 hover:bg-amber-200 whitespace-nowrap">Expeditions</a></li>
                <li><a href="{% url 'animals_list' %}" class="block px-4 py-2 hover:bg-amber-200 whitespace-nowrap">Animals</a></li>
                <li><a href="{% url 'media_gallery' %}" class="block px-4 py-2 hover:bg-amber-200 whitespace-nowrap">Gallery</a></li>
                <li><a href="{% url 'analytics_dashboard' %}" class="block px-4 py-2 hover:bg-amber-200 whitespace-nowrap">Analytics</a></li>
            </ul>
        </div>
        <div class="absolute left-1/2 -translate-x-1/2">
            <form method="GET" action="{% url 'search' %}" class="flex border rounded-sm items-center">
                <input type="text" name="query" class="w-150 outline-none pl-2" placeholder="Search..." value="{{ request.GET.query }}">
                <button type="submit" class="p-2 bg-amber-200">Search</button>
            </form>

        {% if results %}
            <ul>
                {% for item in results %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% elif request.GET.query %}
            <p>No results found.</p>
        {% endif %}
        </div>


    </nav>

    <!-- Main Content -->
    <main class="flex-grow bg-emerald-50">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-amber-50 shadow-lg">
        <div class="max-w-7xl mx-auto px-4 py-4 text-center text-gray-600">
            <p>&copy; 2026 Wildlife Expedition Tracker</p>
        </div>
    </footer>
</body>
</html>