{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wildlife Expedition Tracker{% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="flex flex-col min-h-screen">
    <!-- Navigation -->
    <div class="flex flex-row bg-amber-50">
        <a class="p-2" href="{% url 'home' %}">Home</a>
        <a class="p-2" href="https://github.com/BobiBash">Github</a>
        <a class="p-2" href="#about">About</a>
    </div>

    <!-- Main Content -->
    <main class="flex-grow bg-emerald-50">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-amber-50 shadow-lg">
        <div class="max-w-7xl mx-auto px-4 py-4 text-center text-gray-600">
            <p>&copy; 2026 Wildlife Expedition Tracker</p>
        </div>
    </footer>
</body>
</html>