{% extends 'base.html' %}

{% block content %}
    <div class="mt-20">
        <div class="flex flex-col mx-auto my-auto h-110 w-1/2 border rounded-sm shadow-lg overflow-y-auto">
            <div class="flex flex-col items-center p-8 bg-linear-to-r from-green-300 to-green-400 border-b w-full">
                    <p class="text-3xl">Expedition Name: {{ expedition.title }}</p>
                </div>
                <div class="text-xl flex flex-col bg-white h-110 w-full">
                    <div class="p-2">
                        <p class="p-2 m-4 border-b text-lg">Target species: {{ expedition.target_species }}</p>
                        <p class="p-2 m-4 border-b text-lg">Expected species:
                                {% for animal in expedition.expected_species.all %}
                                {{ animal.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %} </p>
                        <p class="p-2 m-4 border-b text-lg">Description: {{ expedition.description }}</p>
                        <p class="p-2 m-4 border-b text-lg">Location: {{ expedition.location }}</p>
                        {% comment %}
                        <p class="p-2 m-4 text-lg">Animal Image:
                          {% if expedition.animal_image %}
                            <img src="{{ expedition.animal_image.url }}" alt="animal_image">
                        {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center mt-8 gap-4">
        <a href="{% url 'sighting_list' expedition.slug %}"
        class="flex items-center justify-center border rounded-sm  h-10 w-34 bg-slate-300 hover:bg-slate-400">View sightings</a>
        <a href="{% url 'add_sighting' expedition.slug %}"
        class="flex items-center justify-center border rounded-sm  h-10 w-34 bg-slate-300 hover:bg-slate-400">Add sighting</a>
        <a href="{% url 'edit_expedition' expedition.slug %}"
        class="flex items-center justify-center border rounded-sm  h-10 w-18 bg-slate-300 hover:bg-slate-400">Edit</a>
        <a href="{% url 'delete_expedition' expedition.slug %}"
        class="flex items-center justify-center border rounded-sm h-10 w-18 bg-red-500 hover:bg-red-600">Delete</a>
    </div>


{% endblock %}