{% extends 'base.html' %}

{% block content %}
<main class="flex flex-col gap-10">
    <div class="flex justify-center">
        <a class="mt-5 text-xl border rounded-sm bg-slate-300 w-44 text-center p-2" href="{% url 'add_expedition' %}">Add Expedition</a>
    </div>
    <div class="flex justify-center min-h- min-w-2.5 border">
        {% for expedition in expeditions %}
        {{ expedition.title }}
        {% empty %}
            <h1 class="">No expeditions registered yet.</h1>
        {% endfor %}
    </div>
</main>
{% endblock %}
