{% extends 'details_card.html' %}

{% block header %}
    <h1 class="text-3xl">Expedition Name: {{ expedition.title }}</h1>
{% endblock %}
{% block fields %}

    <div class="text-xl flex flex-col bg-white w-full">
        <div class="p-2">
            <p class="p-2 m-4 border-b text-lg">Target species: {{ expedition.target_species }}</p>
            <p class="p-2 m-4 border-b text-lg">Expected species:
                    {% for animal in expedition.expected_species.all %}
                    {{ animal.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %} </p>
            <p class="p-2 m-4 border-b text-lg">Description: {{ expedition.description }}</p>
            <p class="p-2 m-4 border-b text-lg">Location: {{ expedition.location }}</p>
            <p class="p-2 m-4 border-b text-lg">Start Date: {{ expedition.start_date }}</p>
            <p class="p-2 m-4 border-b text-lg">End Date: {{ expedition.end_date }}</p>
        </div>
    </div>
{% endblock %}
{% block buttons %}
    <a href="{% url 'edit_expedition' expedition.slug %}"
    class="flex items-center justify-center border border-black rounded-sm  h-10 w-18 bg-blue-500 hover:bg-blue-600 text-white">Edit</a>
    <a href="{% url 'delete_expedition' expedition.slug %}"
    class="flex items-center justify-center border border-black rounded-sm h-10 w-18 bg-red-500 hover:bg-red-600 text-white">Delete</a>
    <a href="{% url 'sighting_list' expedition.slug %}"
    class="flex items-center justify-center border rounded-sm  h-10 w-34 bg-slate-300 hover:bg-slate-400">View sightings</a>
    <a href="{% url 'add_sighting' expedition.slug %}"
    class="flex items-center justify-center border rounded-sm  h-10 w-34 bg-slate-300 hover:bg-slate-400">Register sighting</a>
    <a href="{% url 'expeditions_list' %}"
    class="flex items-center justify-center border rounded-sm  h-10 w-34 bg-slate-300 hover:bg-slate-400">Back to List
    </a>
{% endblock %}
